body {
    font-family: Arial;    
}

#map {
    width: 100%;
    height: 100%;
}

.info_picture {
    width: 200px;   
}

.header {
    font-size: 40px;
    color: darkblue;
    text-align: center;
}

ul#timeline {
    height: 50px;
}

ul#timeline li.day {
    float: left;
    list-style-type: none;
    padding-right: 15px;
}

ul#timeline li.day.selected {
    font-weight: bold;
}

#map {
    clear: both;
}

.playing {
    color: darkgreen;
    font-weight: bold;
}
