# Bootstrap
src/app/bootstrap*

# Symfony directories
#src/vendor/*
src/*/logs/*
src/*/cache/*
#src/web/uploads/*
#src/web/bundles/*

# Configuration files
src/nbproject/private/
src/app/cache/
src/app/config/parameters.ini
src/app/config/parameters.yml

# Composer autoloaders
#src/vendor/autoload.php
#src/vendor/composer/autoload_real.php
#src/vendor/composer/autoload_classmap.php
