<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
            <files>      
                <clear/>    
                <add value="app.php"/>     <!-- 2nd default document in search order -->                
                <add value="app_dev.php"/>     <!-- 2nd default document in search order -->                
                <add value="config.php"/>     <!-- 2nd default document in search order -->                
            </files>
        </defaultDocument>
        <modules runAllManagedModulesForAllRequests="true"/>
        <rewrite>
            <rules>
                <clear />
                <rule name="DropWebFolder" stopProcessing="true">
                     <match url="src/web/*" />
                     <action type="Rewrite" url="/{R:0}" />
                </rule>
                <rule name="TransferToPublic" patternSyntax="Wildcard" stopProcessing="true">
                     <match url="*" />
                     <action type="Rewrite" url="src/web/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
