<div id="container">
    <div>
    </div>
    <ul id="timeline">
        {% for day in days %}
            <li class='day' data='{{day}}'>{{ day }}</li>
        {% endfor %}
    </ul>
    <div id="map">

    </div>
    <div id="foto">

    </div>
</div>
{{jsonObject|raw}}