<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Triplot, Pin your Tip{% endblock %}</title>
            {% block stylesheets %}
		    {% endblock %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByGmEoUXWt-wR2o5jYTaK-mdRVUM7ziIM&sensor=true"></script>
            {% block javascripts %}
		    {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="header">
                {% block header %}
                    Triplot
                {% endblock %}
            </div>
            <div class="content">
            {% block content %}{% endblock %}    
            </div>
            <div class="footer">
            {% block footer %}{% endblock %}
            </div>
        {% endblock %}
    
        {% block extrastyles %}{% endblock %}
    </body>
</html>